@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #2A3770 0%, #10152C 15%);
  color: #dfdfdf;
}

.content-wrapper {
  width:100%;
  max-width:1600px;
  margin:0 auto;
  margin-top:120px;
}

/* #hero-images:hover {
  background:none;
} */
/* #hero-images img {
  bottom:10px;
  right:10px;
}
#hero-images:hover img {
  bottom:0;
  right:0;
} */
#hero-images {
  transition:.3s ease;
}
.bottom-photo {
  opacity:1;
  padding-right:10px;
  padding-bottom:10px;
  transition:.3s ease;
}
#hero-images img:first-of-type {
  opacity:.9;
}
#hero-images:hover img:first-of-type {
  opacity:0;
}
#hero-images:hover .bottom-photo {
  opacity:1;
  padding:0;
}
#hero-images:hover #more-about-me, .portfolio-image:hover .more-about-me {
  top:10%;
  opacity:1;
}
.noiselayer {
  background-image: url(/noise-layer.png);
  background-size: contain;
}
.shadow-box {
  box-shadow: 0 0 100px 10px #0f1b55;
}