@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #2A3770 0%, #10152C 50%);
  color: #dfdfdf;
}

.content-wrapper {
  width:100%;
  max-width:1600px;
  margin:0 auto;
  margin-top:120px;
}
.bottom-photo {
  opacity:0;
}
/* #hero-images:hover {
  background:none;
} */
#hero-images img {
  bottom:10px;
  right:10px;
}
#hero-images:hover img {
  bottom:0;
  right:0;
}
#hero-images:hover img:first-of-type {
  opacity:0;
}
#hero-images:hover .bottom-photo {
  opacity:1;
}
#hero-images:hover #more-about-me {
  top:40%;
  opacity:1;
}